<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="icon" type="image/x-icon" th:href="'https://www.metaweather.com/static/img/weather/ico/' +
                        ${weather.getConsolidatedWeather() != null && weather.getConsolidatedWeather().get(0) != null ?
                        weather.getConsolidatedWeather().get(0).getWeatherStateAbbr() :
                        'c'} + '.ico'">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/app.css}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

        });
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col main-header text-center">
            <h1>Weather App</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form th:action="@{/app}" method="get" class="query-button text-center">
                <input type="text" name="query">
                <input type="submit" class="btn btn-success" value="Search for cities">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="button" id="toggleFavBtn" class="btn btn-info" value="Show favorites">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="city">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="width-1">#</th>
                            <th scope="col">Name</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="l: ${loc}">
                            <td class="db">
                                <span th:text="${l.getWoeid()}"></span>
                                <img th:if="${l.checkIfIsInList(locationsInDB)}" th:src="@{/image/database.png}" alt="db">
                            </td>
                            <td th:text="${l.getName()}"></td>
                            <td>
                                <a th:href="@{/app/(query=${#httpServletRequest.getParameter('query')}, id=${l.getWoeid()})}" class="link">
                                    <button type="button" class="btn btn-info">Show details</button>
                                </a>
                            </td>
                            <td>
                                <!--TODO-->
                                <a class="link" th:href="@{/app/}">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div th:if="${param.id != null}" class="weather">
                <h2 class="text-center">
                    <span th:text="${weather.getTitle()}"></span>
                    <img th:src="'https://www.metaweather.com/static/img/weather/' +
                        ${weather.getConsolidatedWeather().get(0).getWeatherStateAbbr()} + '.svg'" alt="w-img">
                </h2>
                <table class="table text-center">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Weather</th>
                        <th scope="col">Min temp [°C]</th>
                        <th scope="col">Max temp [°C]</th>
                        <th scope="col">Wind speed [m/s]</th>
                        <th scope="col">Air pressure [hPa]</th>
                    </tr>
                    </thead>
                    <tbody th:each="i : ${#numbers.sequence(0, weather.getConsolidatedWeather().size() - 1)}">
                        <tr th:each="cw : ${weather.getConsolidatedWeather().get(i)}">
                            <td th:text="${cw.getApplicableDate()}" class="text-left"></td>
                            <td class="weather-details text-left">
                                <span th:text="${cw.getWeatherStateName()}"></span>
                                <img th:src="'https://www.metaweather.com/static/img/weather/' +
                                    ${cw.getWeatherStateAbbr()} + '.svg'" alt="w-img">
                            </td>
                            <td th:text="${#numbers.formatDecimal(cw.getMinTemp(), 1, 1)}"></td>
                            <td th:text="${#numbers.formatDecimal(cw.getMaxTemp(), 1, 1)}"></td>
                            <td th:text="${#numbers.formatDecimal(cw.getWindSpeed(), 1, 2)}"></td>
                            <td th:text="${cw.getAirPressure()}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/app.js"></script>
</body>
</html>
